Repository VUnit/vunit, pull requests merged in 2023-07, with the labels that each got.

#776 Common log interface
  docs/logging/user_guide.rst
  docs/news.d/776.feature.rst
  examples/vhdl/osvvm_log_integration/osvvm_integration/AlertLogPkg.vhd
  examples/vhdl/osvvm_log_integration/osvvm_integration/osvvm_to_vunit_common_log_pkg-body.vhd
  examples/vhdl/osvvm_log_integration/osvvm_integration/vunit_to_osvvm_common_log_pkg-body.vhd
  examples/vhdl/osvvm_log_integration/run.py
  examples/vhdl/osvvm_log_integration/tb_example.vhd
  tests/acceptance/artificial/vhdl/run.py
  tests/acceptance/test_external_run_scripts.py
  tests/lint/test_license.py
  vunit/builtins.py
  vunit/ui/__init__.py
  vunit/vhdl/logging/src/ansi_pkg.vhd
  vunit/vhdl/logging/src/common_log_pkg-body.vhd
  vunit/vhdl/logging/src/common_log_pkg.vhd
  vunit/vhdl/logging/src/file_pkg.vhd
  vunit/vhdl/logging/src/log_handler_pkg-body.vhd
Labels: Enhancement, ThirdParty: OSVVM, Builtins

#940 sim_if/nvc.py: quote words with spaces in printed command
  docs/news.d/940.misc.rst
  vunit/sim_if/nvc.py
Labels: Enhancement, Simulator support

#948 sim_if/nvc.py: add a new nvc.global_flags option
  docs/news.d/948.feature.rst
  docs/py/opts.rst
  vunit/sim_if/nvc.py
Labels: Enhancement, Simulator support, Tool: NVC
