Repository VUnit/vunit, pull requests merged in 2023-04, with the labels that each got.

#927 Fix NVC version detection
  vunit/sim_if/nvc.py
Labels: Enhancement, Tool: NVC

#919 add docs/.gitignore
  .gitignore
  docs/.gitignore
Labels: Enhancement, Docs

#913 docs/installing/requirements: add subsections
  docs/installing.rst
Labels: Enhancement, Docs

#915 docs: rm extension 'exec'
  docs/.gitignore
  docs/conf.py
  docs/examples.py
  docs/examples.rst
  docs/exec.py
Labels: Enhancement, Docs

#920 ci: forks push the docs to branch gh-pages
  .github/publish_site.sh
  .github/workflows/docs.yml
Labels: Enhancement, CI, Docs

#916 ci: run windows tests with py310
  .github/workflows/push.yml
Labels: Enhancement, CI

#914 docs/installing/requirements/simulator: add NVC
  docs/installing.rst
Labels: Enhancement, Docs, Tool: NVC

#912 docs: change theme to 'furo'
  docs/.gitignore
  docs/conf.py
  docs/index.rst
  pyproject.toml
  tools/build_docs.py
Labels: Bug, Enhancement, Docs

#921 docs: improve changelog to be automatically generated by towncrier
  docs/.gitignore
  docs/conf.py
  docs/contributing.rst
  docs/news.d/.gitkeep
  docs/news.d/921.misc.rst
  docs/release_notes.rst
  pyproject.toml
  tools/create_release_notes.py
Labels: Enhancement, Docs

#930 Fix error with NVC and the --gui flag
  docs/news.d/926.feature.rst
  docs/news.d/930.feature.rst
  vunit/sim_if/nvc.py
Labels: Bug, Simulator support, Tool: NVC

#742 sim_if: continue after compilation failure if '--keep-compiling' is True
  docs/news.d/742.breaking.rst
  tests/unit/test_simulator_interface.py
  vunit/sim_if/__init__.py
Labels: Breaking change

#600 remove 'array_pkg'
  docs/news.d/600.breaking.rst
  tests/acceptance/test_external_run_scripts.py
  vunit/builtins.py
  vunit/vhdl/array/run.py
  vunit/vhdl/array/src/array_pkg.vhd
  vunit/vhdl/array/test/tb_array.vhd
Labels: Breaking change

#764 remove compile_builtins and vunit.verilog
  docs/about.rst
  docs/blog/2018_02_12_vunit3.rst
  docs/check/user_guide.rst
  docs/com/user_guide.rst
  docs/conf.py
  docs/data_types/user_guide.rst
  docs/examples.py
  docs/hdl_libraries.rst
  docs/index.rst
  docs/logging/user_guide.rst
  docs/news.d/559.breaking.rst
  docs/news.d/764.breaking.rst
  docs/news.d/764.doc.rst
  docs/news.d/777.breaking.rst
  docs/release_notes/3.0.0.rst
  docs/run/user_guide.rst
  docs/user_guide.rst
  docs/verification_components/user_guide.rst
  docs/vhdl_libraries.rst
  examples/verilog/uart/run.py
  examples/verilog/user_guide/run.py
  examples/verilog/verilog_ams/run.py
  examples/vhdl/array/run.py
  examples/vhdl/array_axis_vcs/run.py
  examples/vhdl/axi_dma/run.py
  examples/vhdl/check/run.py
  examples/vhdl/com/run.py
  examples/vhdl/composite_generics/run.py
  examples/vhdl/coverage/run.py
  examples/vhdl/generate_tests/run.py
  examples/vhdl/json4vhdl/run.py
  examples/vhdl/logging/run.py
  examples/vhdl/run/run.py
  examples/vhdl/third_party_integration/run.py
  examples/vhdl/uart/run.py
  examples/vhdl/user_guide/run.py
  examples/vhdl/user_guide/vhdl1993/run.py
  examples/vhdl/vivado/run.py
  tests/acceptance/artificial/verilog/run.py
  tests/acceptance/artificial/vhdl/run.py
  tests/acceptance/test_dependencies.py
  tests/unit/test_ui.py
  vunit/project.py
  vunit/ui/__init__.py
  vunit/verilog.py
  vunit/vhdl/check/run.py
  vunit/vhdl/com/run.py
  vunit/vhdl/data_types/run.py
  vunit/vhdl/dictionary/run.py
  vunit/vhdl/logging/run.py
  vunit/vhdl/path/run.py
  vunit/vhdl/random/run.py
  vunit/vhdl/run/run.py
  vunit/vhdl/string_ops/run.py
  vunit/vhdl/verification_components/run.py
Labels: Enhancement, Docs, Breaking change, Builtins

#932 sim_if/ghdl: remove 'ghdl.flags'
  docs/news.d/932.breaking.rst
  docs/py/opts.rst
  examples/vhdl/array/run.py
  tests/unit/test_ghdl_interface.py
  tests/unit/test_project.py
  tests/unit/test_ui.py
  vunit/sim_if/ghdl.py
Labels: Simulator support, Breaking change, Tool: GHDL

#933 Remove deprecated 'check', 'log' and 'run' packages.
  docs/news.d/933.breaking.rst
  vunit/vhdl/check/src/check_deprecated_pkg.vhd
  vunit/vhdl/check/test/tb_deprecated.vhd
  vunit/vhdl/logging/src/log_deprecated_pkg.vhd
  vunit/vhdl/logging/test/tb_deprecated.vhd
  vunit/vhdl/run/src/run_deprecated_pkg.vhd
  vunit/vhdl/vunit_context.vhd
  vunit/vhdl/vunit_run_context.vhd
Labels: Breaking change, Builtins
