Repository VUnit/vunit, pull requests merged in 2024-03, with the labels that each got.

#998 docs/news: add fragment for #909
  docs/news.d/909.feature.rst
Labels: Docs

#1001 Add news fragment
  docs/news.d/956.bugfix.rst
Labels: Docs

#1000 Add news fragments
  docs/news.d/799.bugfix.rst
  docs/news.d/992.misc.rst
  docs/news.d/994.feature.rst
Labels: Docs

#966 Allow multiply and divide within component instantiations.
  docs/news.d/966.feature.rst
  vunit/vhdl_parser.py
Labels: Enhancement, Parsing

#991 Add py.typed
  docs/news.d/991.feature.rst
  vunit/py.typed
Labels: Enhancement

#1005 Add GHDL backend detection support for mcode JIT
  docs/news.d/1005.feature.rst
  tests/unit/test_ghdl_interface.py
  vunit/sim_if/ghdl.py
Labels: Enhancement, Simulator support, Tool: GHDL
